.awards-title {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &--wow .awards-title__text {
    font-weight: 600;
    font-size: 32px;
    line-height: 29px;
    letter-spacing: -0.03em;

    @media (min-width: $tablet-desktop-between) {
      font-weight: 600;
      font-size: 48px;
      line-height: 43px;
    }

    @media (min-width: $desktop-width) {
      font-size: size(56px);
      line-height: size(50px);
    }
  }
}

.awards-title__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 0;
  height: 35px;
  background-color: $banner-accent-color;
  transition: width 0.3s ease;

  @media (min-width: $tablet-width) {
    height: 44px;
  }

  @media (min-width: $tablet-desktop-between) {
    width: 0;
    height: 64px;

    &--awards {
      img {
        // width: 38px;
        // height: 38px;

        @media (min-width: $desktop-width) {
          width: size(46px);
          height: size(24px);
        }
      }
    }

    &--cssda {
      svg {
        width: 51px;
        height: 32px;
      }
    }

    &--runet {
      svg {
        width: 26px;
        height: 34px;
      }
    }

    &--mixx {
      svg {
        width: 53px;
        height: 16px;
      }
    }

    &--g8 {
      svg {
        width: 51px;
        height: 32px;
      }
    }

    &--sreda {
      svg {
        width: 31px;
        height: 31px;
      }
    }

    &--runet {
      svg {
        width: 26px;
        height: 34px;
      }
    }

    &--gold {
      svg {
        width: 43px;
        height: 44px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    border-radius: size(15px);
    height: size(70px);

    &--awwards {
      svg {
        width: size(40px);
        height: size(40px);
      }
    }

    &--cssda {
      svg {
        width: size(38px);
        height: size(32px);
      }
    }

    &--runet {
      svg {
        width: 26px;
        height: 34px;
      }
    }

    &--mixx {
      svg {
        width: size(57px);
        height: size(17px);
      }
    }

    &--g8 {
      svg {
        width: size(51px);
        height: size(32px);
      }
    }

    &--sreda {
      svg {
        width: size(33px);
        height: size(33px);
      }
    }

    &--runet {
      svg {
        width: size(28px);
        height: size(36px);
      }
    }

    &--gold {
      svg {
        width: size(46px);
        height: size(47px);
      }
    }
  }

  img {
    display: block;
  }
}

.awards-title__text {
  font-family: $font-primary;
  font-weight: 600;
  font-size: 28px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: $color-primary;
  margin-right: 12px;
  transition: color 0.3s ease;

  @media (min-width: $tablet-width) {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 32px;
    line-height: 29px;
    letter-spacing: -0.03em;
    color: $color-primary;
    margin-right: 14px;
  }

  @media (min-width: $tablet-desktop-between) {
    font-size: 48px;
    line-height: 43px;
    color: $color-primary-opacity4;
  }

  @media (min-width: $desktop-width) {
    font-size: size(56px);
    line-height: size(50px);
    margin-right: size(22px);
  }

  &--additional {
    margin-left: -3px;
  }
}

.awards-title__quantity {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: $color-primary-opacity6;

  @media (min-width: $tablet-desktop-between) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: $desktop-width) {
    font-size: size(16px);
    line-height: size(19px);
  }
}
