.awards-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-desktop-between) {
    max-width: 250px;
  }

  @media (min-width: $desktop-width) {
    max-width: size(250px);
  }
}

.awards-list__link {
  display: block;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease, background-color 0.3s ease;

  @media (min-width: $tablet-desktop-between) {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 48px;
    height: 48px;
    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    width: size(48px);
    height: size(48px);
  }

  @media (hover: hover) {
    &:hover {
      background-color: $banner-accent-color;
      transition: background-color 0.3s ease;
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
    background-color: $banner-accent-color;
    transition: background-color 0.3s ease;
  }

  &:active {
    background-color: $banner-accent-color;
    opacity: 0.3;
    transition: opacity 0.3s ease, background-color 0.3s ease;
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.2;
  }
}


.awards-list__text {
  @media (min-width: $tablet-desktop-between) {
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.04em;
    text-align: center;
    color: $color-primary-opacity8;
    min-width: 23px;
    max-width: 196px;
  }

  @media (min-width: $desktop-width) {
    font-size: size(12px);
    line-height: size(13px);
    min-width: size(23px);
    max-width: size(196px);
  }
}

.awards-list__item {
  min-height: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $tablet-desktop-between) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0 6px;
  }

  @media (min-width: $desktop-width) {
    gap: 0 size(6px);
    margin-bottom: size(10px);

    &:nth-of-type(1) svg {
      width: size(35px);
      height: size(24px);
    }

    &:nth-of-type(2) svg {
      width: size(40px);
      height: size(12px);
    }

    &:nth-of-type(3) svg {
      width: size(24px);
      height: size(24px);
    }

    &:nth-of-type(4) svg {
      width: size(21px);
      height: size(26px);
    }

    &:nth-of-type(5) svg {
      width: size(25px);
      height: size(29px);
    }
  }
}
