.b2c {
  padding-left: 15px;
  padding-top: 70px;
}

.b2c__caption {
  font-family: $font-primary;
  margin: 0 0 39px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
}
