.banners {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 size(30px);
  }
}

.banners__screen {
  padding: 60px 25px 25px;
  border-radius: 25px;
  width: 100%;
  min-height: 450px;
  background-color: $color-white;


  @media (min-width: $tablet-width) {
    padding: 60px 25px;
    position: relative;
  }

  @media (min-width: $tablet-desktop-between) {
    padding: 60px 25px 142px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    padding: size(40px) size(25px) size(201px);
    min-height: size(469px);
  }
}

.banners__buttons-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  position: absolute;
  bottom: 19px;
  left: calc(50% - 20px);

  @media (min-width: $tablet-desktop-between) {
    margin: 0;
    gap: 10px;
    left: 30px;
    bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    left: size(40px);
    bottom: size(34px);
    gap: size(10px);
  }
}


.bunners-list__dev-icon {
  @media (min-width: $tablet-desktop-between) {
    width: 53px;
    height: 53px;
  }
}
