.banner {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 64% 1fr;
  }

  @media (min-width: $tablet-desktop-between) {
    padding: 60px 5px 0;
    grid-template-columns: 41% 1fr;
  }

  @media (min-width: $desktop-width) {
    padding: size(60px) size(5px) 0;
  }
}

.banner__caption {
  margin: 0 0 20px;
  font-family: $font-primary;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: $color-primary;

  @media (min-width: $tablet-desktop-between) {
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 28px;
  }

  @media (min-width: $desktop-width) {
    font-size: size(14px);
    line-height: size(17px);
    margin: 0 0 size(32px);
  }
}

.banner__slogan {
  font-family: $font-primary;
  font-weight: 600;
  font-size: 28px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: $slogan-color;
  margin: 0;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.05s;

  @media (min-width: $tablet-desktop-between) {
    font-size: 32px;
    line-height: 23px;
  }

  @media (min-width: $desktop-width) {
    font-size: size(36px);
    line-height: size(27px);
  }
}

.banner__img-wrapper {
  display: inline-flex;
  justify-content: center;
  width: 32px;
  height: 32px;
  position: relative;
  margin-right: -3px;

  @media (min-width: $tablet-desktop-between) {
    width: 37px;
    height: 37px;
  }

  @media (min-width: $desktop-width) {
    width: size(40px);
    height: size(40px);
  }

  img {
    position: absolute;
    top: 6px;
    left: 0;
    object-fit: cover;

    @media (min-width: $tablet-desktop-between) {
      width: 37px;
      height: 37px;
      top: 9px;
      left: 2px;
      object-fit: cover;
    }

    @media (min-width: $desktop-width) {
      width: size(40px);
      height: size(40px);
    }
  }
}

.banner__slogan-text {
  display: inline-block;
}

.banner__text {
  margin: 0;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: $color-primary;
  max-width: 319px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    letter-spacing: -0.03em;
  }

  @media (min-width: $tablet-desktop-between) {
    font-size: 16px;
    line-height: 22px;
    max-width: 450px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: size(16px);
    line-height: size(22px);
    max-width: size(450px);
    margin-bottom: size(24px);
  }
}

.banner__slogan-wrapper {
  border-radius: 120px;
  padding: 1px 17px 3px;
  min-width: 284px;
  max-width: 310px;
  min-height: 37px;
  background-color: $banner-accent-color;

  @media (min-width: $tablet-desktop-between) {
    font-size: 32px;
    line-height: 37px;
    min-width: 325px;
    max-width: 350px;
  }

  @media (min-width: $desktop-width) {
    padding: size(4px) size(20px) size(5px);
  }
}


.banner__svg-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 36px;
  height: 29px;

  opacity: 0;
  transform: scaleX(0) scaleY(0.8);
  transform-origin: left center;
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;

  @media (min-width: $desktop-width) {
    width: size(40px);
    height: size(31px);
  }

  svg {
    position: absolute;
    top: 6px;
    left: 2px;

    @media (min-width: $tablet-desktop-between) {
      top: 5px;
      left: 3px;
    }

    @media (min-width: $desktop-width) {
      top: size(3px);
      left: size(2px);
      width: size(40px);
      height: size(31px);
    }
  }
}

.banner__svg-wrapper--accent {
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 120px;
  background-color: $banner-accent-color;

  // width: 50px;
  width: auto;
  height: 37px;

  @media (min-width: $tablet-desktop-between) {
    width: 57px;
    height: 44px;
  }

  @media (min-width: $desktop-width) {
    width: size(65px);
    height: size(49px);
  }

  svg {
    width: 22px;
    height: 22px;
    position: static;

    @media (min-width: $tablet-desktop-between) {
      width: 25px;
      height: 25px;
    }

    @media (min-width: $desktop-width) {
      width: size(28px);
      height: size(28px);
    }
  }
}

.banner__accent {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.03em;
  color: $slogan-color;
  margin-bottom: 24px;
  overflow: hidden; /* Важно! чтобы текст не вылезал при сжатии */
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;

  @media (min-width: $desktop-width) {
    max-width: size(480px);
    margin-bottom: size(33px);
  }
}

.banner__button {
  // width: 193px;
}

.banner__animation-box {
  position: relative;
}

.banner__promo-wrapper {
  &--1 {
    width: 148px;
    height: 102px;
    position: absolute;
    top: 176px;
    left: -86px;
    box-shadow: 0 10px 19px 0 rgba(0, 0, 0, 0.16);

    @media (min-width: $tablet-desktop-between) {
      width: 233px;
      height: 162px;
      top: 169px;
      left: 9px;
      border-radius: 20px;
      box-shadow: 0 16px 31px 0 rgba(0, 0, 0, 0.16);
    }

    @media (min-width: $desktop-width) {
      width: size(274px);
      height: size(194px);
      top: size(227px);
      left: size(-38px);
      border-radius: size(20px);
      box-shadow: 0 20px 37px 0 rgba(0, 0, 0, 0.16);
    }
  }

  &--2 {
    position: absolute;
    top: 6px;
    left: 11px;
    width: 99px;
    height: 215px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.04), 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 1px 0 rgba(0, 0, 0, 0.07), 0 26px 19px 0 rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    overflow: hidden;
    background: linear-gradient(138deg, #1e2b9e 0%, #0e145a 35.94%, #0c1151 59.38%, #1e2b9e 100%);

    @media (min-width: $tablet-desktop-between) {
      width: 150px;
      height: 326px;
      top: -45px;
      left: 211px;
      border-radius: 20px;
    }

    @media (min-width: $desktop-width) {
      border-radius: size(22px);
      width: size(180px);
      height: size(390px);
      top: size(-29px);
      left: size(200px);
    }
  }

  &--3 {
    position: absolute;
    top: 169px;
    left: 69px;
    width: 144px;
    height: 144px;
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.12), inset 3px -3px 6px 2px rgba(255, 255, 255, 0.2);
    background: #f4f1ec;
    border-radius: 12px;
    overflow: hidden;

    @media (min-width: $tablet-desktop-between) {
      border-radius: 20px;
      width: 232px;
      height: 232px;
      top: 142px;
      left: 311px;
      box-shadow: 0 27px 28px 0 rgba(0, 0, 0, 0.12), inset 4px -4px 10px 4px rgba(255, 255, 255, 0.2);
    }

    @media (min-width: $desktop-width) {
      top: size(196px);
      left: size(321px);
      border-radius: size(23px);
      width: size(277px);
      height: size(277px);
      box-shadow: 0 33px 34px 0 rgba(0, 0, 0, 0.12), inset 5px -5px 12px 4px rgba(255, 255, 255, 0.2);
    }
  }

  &--4 {
    position: absolute;
    top: 51px;
    left: 60px;
    width: 206px;
    height: 163px;

    @media (min-width: $tablet-desktop-between) {
      border-radius: 20px;
      width: 247px;
      height: 247px;
      top: -38px;
      left: 425px;
    }

    @media (min-width: $desktop-width) {
      border-radius: size(20px);
      width: size(302px);
      height: size(298px);
      top: size(-22px);
      left: size(453px);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.banner__label {
  display: none;

  @media (min-width: $tablet-desktop-between) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62.5px;
    height: 50px;
    background-color: $banner-accent-color;
    opacity: 0;
    border-radius: 15px;
    transform: translateY(20px);
    transition: all 0.6s ease-out 0.6s; /* задержка после основных элементов */
    position: absolute;
    bottom: -21px;
    right: 126px;
  }

  @media (min-width: $desktop-width) {
    bottom: size(-84px);
    right: size(149px);
    width: size(62.5px);
    height: size(50px);
    border-radius: size(15px);
  }

  svg {
    width: size(36px);
    height: size(30px);
  }
}


/* Базовые стили для элементов анимации */
.banner__promo-wrapper {
  opacity: 0;
  transform: translateY(50px) scale(0.8);
  transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-delay: 0.1s; /* базовая задержка */
}

/* Стили для конкретных элементов с разными задержками */
.banner__promo-wrapper--1 {
  transition-delay: 0.1s;
}

.banner__promo-wrapper--2 {
  transition-delay: 0.2s;
}

.banner__promo-wrapper--3 {
  transition-delay: 0.3s;
}

.banner__promo-wrapper--4 {
  transition-delay: 0.4s;
}

/* Состояние при достижении viewport */
.is-animated--visible .banner__promo-wrapper {
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* Дополнительно: плавное появление лейбла */
.banner__label {
  // opacity: 0;
  // transform: translateY(20px);
  // transition: all 0.6s ease-out 0.6s; /* задержка после основных элементов */
}

.is-animated--visible .banner__label {
  opacity: 1;
  transform: translateY(0);
}


.banner__text {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.05s;
}

.is-animated--visible .banner__text {
  opacity: 1;
  transform: translateY(0);
}

.is-animated--visible .banner__slogan {
  opacity: 1;
  transform: translateY(0);
}


/* НОВОЕ: Анимация для кнопки */
.banner__button {
  width: 193px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s;

  @media (min-width: $tablet-desktop-between) {
    width: 204px;
    min-height: 55px;
  }

  @media (min-width: $desktop-width) {
    width: size(224px);
    min-height: size(61px);
  }
}


.is-animated--visible .banner__button {
  opacity: 1;
  transform: translateY(0);
}

/// анимация зеленого
/// css

/* НОВОЕ: Анимация для акцента (сжатие → расширение + толчок текста) */
.banner__accent {
  // overflow: hidden; /* Важно! чтобы текст не вылезал при сжатии */
  // transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;

  // @media(min-width: $tablet-desktop-between) {
  //   max-width: 480px;
  //   margin-bottom: 28px;
  // }
}

.banner__svg-wrapper--accent {
  display: flex;
  opacity: 0;
  transform: scaleX(0) scaleY(0.8);
  transform-origin: left center; /* ⚠️ КЛЮЧЕВОЕ! Расширение слева */
  padding: 0 15px;
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s;
}

.banner__slogan-wrapper {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s;
  transform-origin: left center;

  @media (min-width: $tablet-desktop-between) {
    padding: 2px 20px 3px;
  }

  @media (min-width: $desktop-width) {
    min-width: size(366px);
    max-width: size(380px);
    font-size: size(36px);
    line-height: size(41px);
  }
}


.is-animated--visible .banner__svg-wrapper--accent {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.is-animated--visible .banner__slogan-wrapper {
  opacity: 1;
  transform: translateY(0);
}

.banner__text-wrapper {
  @media (min-width: $tablet-desktop-between) {
    max-width: 485px;
  }

  @media (min-width: $desktop-width) {
    max-width: size(545px);
  }
}

.is-animated--visible .banner__svg-wrapper {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}
