.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 16px;
  min-height: 48px;
  background-color: $color-primary;
  font-family: $font-primary;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: $color-white;
  border: none;
  width: 100%;
  box-shadow: none;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease, opacity 0.3s ease;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    border-radius: 12px;
  }

  @media (min-width: $tablet-desktop-between) {
    border-radius: 15px;
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: $desktop-width) {
    border-radius: size(15px);
    font-size: size(14px);
    line-height: size(17px);
    padding: size(16px);
  }

  @media (hover: hover) {
    &:hover {
      background-color: $color-white;
      color: $color-primary;
      border-radius: 25px;
      box-shadow: 0 7px 18px -15px rgba(14, 14, 14, 0.04), 0 20px 20px 0 rgba(14, 14, 14, 0.05), 0 24px 19px -30px rgba(14, 14, 14, 0.25);
      transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;

      @media (min-width: $desktop-width) {
        border-radius: size(30px);
        box-shadow: 0 size(7px) size(18px) size(-15px) rgba(14, 14, 14, 0.04), 0 size(20px) size(20px) 0 rgba(14, 14, 14, 0.05), 0 size(24px) size(19px) size(-30px) rgba(14, 14, 14, 0.25);
      }
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
    border-radius: 25px;
    background-color: $color-white;
    color: $color-primary;
    box-shadow: 0 7px 18px -15px rgba(14, 14, 14, 0.04), 0 20px 20px 0 rgba(14, 14, 14, 0.05), 0 24px 19px -30px rgba(14, 14, 14, 0.25);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;

    @media (min-width: $desktop-width) {
      border-radius: size(25px);
      box-shadow: 0 size(7px) size(18px) size(-15px) rgba(14, 14, 14, 0.04), 0 size(20px) size(20px) 0 rgba(14, 14, 14, 0.05), 0 size(24px) size(19px) size(-30px) rgba(14, 14, 14, 0.25);
    }
  }

  &:active {
    border-radius: 25px;
    box-shadow: 0 7px 18px -15px rgba(14, 14, 14, 0.04), 0 20px 20px 0 rgba(14, 14, 14, 0.05), 0 24px 19px -30px rgba(14, 14, 14, 0.25);
    opacity: 0.3;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease, opacity 0.3s ease;
  }

  &--disabled,
  &:disabled {
    pointer-events: none;
    opacity: 0.2;
  }
}
