.button-favourites {
  display: block;
  width: 24px;
  height: 21px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: "";
    display: flex;
    width: 20px;
    height: 20px;
    mask-image: url("/__spritemap#sprite-heart-view");
    mask-repeat: no-repeat;
    background-color: $color-primary;
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 23px;
      height: 23px;
    }
  }

  &:focus-visible {
    outline: none;
  }

  &:hover::before,
  &:focus::before,
  &:focus-visible::before {
    background-color: $accent-color;
    outline: none;
  }

  &:active::before {
    background-color: $background-bullet;
  }
}
