.category__wrapper {
  overflow: hidden;
  padding: size(20px) size(10px) size(20px);
  max-width: 1540px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: size(20px) size(20px) size(20px);
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 20px 0 27px;
  }
}

.category__list {
  @media (min-width: $tablet-width) {
    margin-left: unset;
  }
}
