.contacts {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.01em;
  padding-left: 15px;
  padding-top: 20px;
  border-left: 1px solid $border-color;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    border-left: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0 58px;
    padding-bottom: 0;
  }

  @media (min-width: $tablet-desktop-between) {
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.contacts__mail {
  // display: block;
  display: inline-block;
  margin-bottom: 7px;
  border-bottom: 1px solid $color-primary;
  border-color: $color-primary;
  transition: color 0.3s ease, border-color 0.3s ease;

  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
  }

  @media (min-width: $tablet-desktop-between) {
    width: min-content;
  }

  @media (min-width: $desktop-width) {
    font-weight: 500;
    font-size: size(18px);
    line-height: size(23px);
    letter-spacing: -0.01em;
    margin-bottom: size(4px);
    border-bottom: size(1px) solid $color-primary;
  }

  @media (hover: hover) {
    &:hover {
      color: $color-primary-opacity6;
      outline: none;
      transition: color 0.3s ease, border-color 0.3s ease;
      border-color: $color-primary-opacity6;
    }
  }

  &:focus,
  &:focus-visible {
    color: $color-primary-opacity6;
    outline: none;
    border-color: $color-primary-opacity6;
    transition: color 0.3s ease, border-color 0.3s ease;
  }

  &:active {
    color: $color-primary-opacity3;
    border-color: $color-primary-opacity3;
    transition: color 0.3s ease, border-color 0.3s ease;
  }

  &--disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}

.contacts__phone {
  display: inline-block;
  border-bottom: 1px solid $color-primary;
  color: $color-primary;
  border-color: $color-primary;
  transition: color 0.3s ease, border-color 0.3s ease;

  @media (hover: hover) {
    &:hover {
      color: $color-primary-opacity6;
      border-color: $color-primary-opacity6;
      transition: color 0.3s ease, border-color 0.3s ease;
    }
  }

  &:focus,
  &:focus-visible {
    color: $color-primary-opacity6;
    border-color: $color-primary-opacity6;
    transition: color 0.3s ease, border-color 0.3s ease;
  }

  &:active {
    color: $color-primary-opacity3;
    border-color: $color-primary-opacity3;
    transition: color 0.3s ease, border-color 0.3s ease;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $tablet-desktop-between) {
    width: 122px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 500;
    font-size: size(18px);
    line-height: size(23px);
    letter-spacing: -0.01em;
    width: size(142px);
    border-bottom: size(1px) solid #0e0e0e;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-primary-opacity6;
    outline: none;
  }

  &--disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}

.contacts__phone-email {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-left: size(44px);
    margin-bottom: size(28px);
  }
}
