.copyright {
  margin: 0;
  font-family: $font-primary;
  font-weight: 600;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.03em;
  color: $color-primary;

  @media(min-width: $tablet-width) {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.03em;
    color: $color-primary;
  }

  @media(min-width: $desktop-width) {
    font-size: size(18px);
    line-height: size(23px);
  }
}
