.design-company {
  font-weight: 500;
  font-size: size(12px);
  line-height: size(14px);
  letter-spacing: 0.01em;
  color: $background-bullet;
  max-width: 214px;

  @media (min-width: $tablet-width) {
    font-size: size(10px);
    line-height: size(12px);
    max-width: 129px;
  }

  @media (min-width: $desktop-width) {
    font-size: 12px;
    max-width: 210px;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    color: $accent-color;
    outline: none;
  }

  &:active {
    color: $color-primary;
  }

  &--disabled {
    color: $background-disabled;
    pointer-events: none;
  }
}
