.email-input {
  display: block;
  width: 100%;
  min-height: size(50px);
  background: $socials-color;
  border-radius: 10px;
  border: none;
  padding: size(10px) size(20px) size(5px);
  font-weight: 600;
  font-size: size(14px);
  text-transform: uppercase;
  color: $color-primary;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
    min-height: 58px;
  }


  &:hover,
  &:focus,
  &:focus-visible {
    outline: size(1px) solid $background-bullet;
  }

  &::placeholder {
    font-weight: 600;
    font-size: size(14px);
    text-transform: uppercase;
    color: $background-bullet;
  }

  &--error {
    outline: size(1px) solid $accent-color;

    &:hover,
    &:focus,
    &:focus-visible {
      outline: size(1px) solid $accent-color;
    }
  }
}
