.format-caption {
  margin: 0;
  border-bottom: 1px solid $color-primary;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
  padding-bottom: 3px;
  color: $color-primary;
}
