.header-nav {
  @media (min-width: $tablet-desktop-between) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 11px;
    max-width: 50%;
  }

  @media (min-width: $desktop-width) {
    padding-top: size(11px);
  }
}

.header-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: $tablet-width-only) {
    padding: 50px 20px;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform-origin: top; /* точка трансформации сверху */
    transform: scaleY(0); /* сжатие по высоте */
    transition: transform 0.3s ease;
    z-index: 10;
    overflow: hidden;

    &--open {
      transform: scaleY(1); /* разворачивается вниз */
      transition: transform 0.2s ease;
      max-height: 80vh; /* ограничиваем высоту меню 80% от высоты окна */
      overflow-y: auto; /* включаем вертикальный скролл при переполнении */
      -webkit-overflow-scrolling: touch; /* плавный скролл на iOS */
      background-color: $background-primary;
    }
  }

  @media (max-width: $mobile-width-only) {
    padding: 41px 15px;
  }


  @media (min-width: $tablet-desktop-between) {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: -0.03em;
    text-transform: lowercase;
  }

  @media (min-width: $desktop-width) {
    gap: size(32px);
    font-size: size(13px);
    line-height: size(14px);
  }
}

.header-nav__favourites {
  display: none;
  transition: color 0.3s ease;

  @media (min-width: $tablet-desktop-between) {
    display: flex;
    flex-wrap: wrap;
    width: 62px;
    margin-left: 28px;
    gap: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-left: size(32px);
    width: size(67px);
    gap: size(11px);
  }

  @media (hover: hover) {
    &:hover {
      color: $color-primary-opacity6;
      transition: color 0.3s ease;

      .header-nav__favourites-image {
        background-color: $color-white;
        transition: background-color 0.3s ease;

        svg {
          fill: $color-primary;
          transition: fill 0.3s ease;
        }
      }
    }
  }

  &:focus,
  &:focus-visible {
    color: $color-primary-opacity6;
    outline: none;
    transition: color 0.3s ease;

    .header-nav__favourites-image {
      background-color: $color-white;
      transition: background-color 0.3s ease;

      svg {
        fill: $color-primary;
        transition: fill 0.3s ease;
      }
    }
  }

  &:active {
    color: $color-primary-opacity3;
    transition: color 0.3s ease;

    .header-nav__favourites-image {
      background-color: $color-white;
      transition: background-color 0.3s ease;

      svg {
        fill: $color-primary-opacity6;
        transition: fill 0.3s ease;
      }
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.2;
  }
}

.header-nav__favourites-image svg {
  fill: $color-white;
  transition: fill 0.3s ease;

  @media (min-width: $tablet-desktop-between) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: $desktop-width) {
    width: size(20px);
    height: size(20px);
  }
}

.header-nav__favourites-image {
  @media (min-width: $tablet-desktop-between) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 32px;
    height: 32px;
    background-color: $color-primary;
    margin-top: -9px;
    transition: background-color 0.3s ease;
  }

  @media (min-width: $desktop-width) {
    border-radius: size(12px);
    width: size(36px);
    height: size(36px);
    margin-top: size(-9px);
  }
}

.header-nav__favourites-text {
  @media (min-width: $tablet-desktop-between) {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    font-size: size(12px);
    line-height: size(14px);
  }
}

.header-nav__button {
  display: block;
  padding: 0;
  position: relative;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-desktop-between) {
    display: none;
  }

  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: $color-primary;
    position: absolute;
    top: 12px;
    left: 1px;

    transition: top 0.1s cubic-bezier(0.33, 0.66, 0.66, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.05, 0.67, 0.19);
  }

  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: $color-primary;
    position: absolute;
    top: 18px;
    left: 1px;

    transition: top 0.2s cubic-bezier(0.33, 0.66, 0.66, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.05, 0.67, 0.19);
  }

  @media (max-width: $tablet-width-only) {
    .header-nav--open &::before {
      width: 26px;
      height: 2px;
      top: 6px;
      left: 8px;
      transition: top 0.1s cubic-bezier(0.33, 0, 0.66, 0.33) 0.15s, transform 0.13s cubic-bezier(0.21, 0.61, 0.35, 1) 0.22s;
      transform: translate3d(0, 10px, 0) rotate(45deg);
    }

    .header-nav--open &::after {
      width: 26px;
      height: 2px;
      top: 6px;
      left: 8px;

      transition: top 0.2s cubic-bezier(0.33, 0, 0.66, 0.33), transform 0.13s cubic-bezier(0.21, 0.61, 0.35, 1) 0.22s;
      transform: translate3d(0, 10px, 0) rotate(-45deg);
    }
  }

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after,
  &:focus-visible::before,
  &:focus-visible::after {
    opacity: 0.6;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}


.header-nav__link {
  display: block;
  transition: color 0.3s ease;

  @media (hover: hover) {
    &:hover {
      color: $color-primary-opacity6;
      transition: color 0.3s ease;
    }
  }

  &:focus,
  &:focus-visible {
    color: $color-primary-opacity6;
    outline: none;
    transition: color 0.3s ease;
  }

  &:active {
    color: $color-primary-opacity3;
    transition: color 0.3s ease;
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.2;
  }
}

.header-nav__item {
  @media (max-width: $tablet-width-only) {
    font-weight: 600;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: -0.03em;
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    margin-bottom: 10px;

    .header-nav__list--open & {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media (max-width: $mobile-width-only) {
    font-weight: 600;
    font-size: 24px;
    line-height: 115%;
    letter-spacing: -0.03em;
    margin-bottom: 15px;
  }

  @media (min-width: $tablet-desktop-between) {
    max-width: 150px;
  }

  @media (min-width: $desktop-width) {
    max-width: size(150px);
  }
}
