.header {
  border-bottom: 1px solid $border-color;
  position: relative;

  @media(min-width: $desktop-width) {
    border-bottom: size(1px) solid $border-color;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // padding: size(10px) size(15px);
  // max-width: size(1440px);
  padding: 10px 15px;
  max-width: 1440px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 10px 20px;
  }

  @media (min-width: $tablet-desktop-between) {
    gap: 50px;
    padding: 8px 20px 9px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding: size(10px) size(30px);
    max-width: size(1440px);
    gap: size(50px);
  }
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo img,
.header__logo svg {
  @media (min-width: $tablet-width) {
    width: 55px;
    height: 18px;
  }

  @media (min-width: $tablet-desktop-between) {
    width: 67px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: size(73px);
    height: size(24px);
  }
}

.header__nav {
  @media (min-width: $tablet-desktop-between) {
    margin-left: auto;
  }
}
