.menu-secondary {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  font-weight: 600;
  font-size: size(12px);
  text-transform: uppercase;
  text-align: center;
  color: $background-bullet;

  @media (max-width: $mobile-width-only) {
    display: block;
  }

  @media (min-width: $tablet-width) {
    gap: 10px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    gap: 21px;
  }
}

.menu-secondary__text {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.menu-secondary__item {
  min-width: 80px;
  min-height: 120px;

  @media (max-width: $mobile-width-only) {
    min-width: 80px;
    min-height: unset;
    padding-top: 12px;
    padding-bottom: 8px;

    &:not(:last-child) {
      border-bottom: size(1px) solid $color-primary;
    }
  }

  @media (min-width: $tablet-width) {
    width: size(90px);
    min-width: unset;
    min-height: unset;
  }
}

.menu-secondary__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;

  &:hover,
  &:focus,
  &:focus-visible {
    color: $accent-color;
    outline: none;
  }

  &:active {
    color: $background-bullet;
  }

  @media (max-width: $mobile-width-only) {
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: $color-primary;
  }

  @media (min-width: $tablet-width) {
    font-size: size(9px);
    width: size(90px);
  }

  @media (min-width: $desktop-width) {
    font-size: 12px;
  }

  &--disabled {
    color: $background-disabled;
    pointer-events: none;
  }
}
