.portfolio {
  @media (min-width: $tablet-width) {
    padding: 80px 20px;
  }

  @media(min-width: $tablet-desktop-between) {
    padding: 100px 20px;
  }

  @media(min-width: $desktop-width) {
    padding: size(131px) size(30px) 0;
    max-width: size(1440px);
  }
}

.portfolio__caption {
  margin: 0 0 14px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: $color-primary;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    font-size: size(20px);
    line-height: size(24px);
    margin: 0;
    padding: 21px 10px 10px 20px;
  }

  @media (min-width: $tablet-desktop-between) {
    font-size: 24px;
    line-height: 29px;
    max-width: 500px;
    padding: 29px 30px 10px;
  }

  @media(min-width: $desktop-width) {
    font-size: size(26px);
    line-height: size(31px);
    max-width: size(500px);
    padding: size(38px) size(40px) size(10px);
  }
}

.portfolio__text {
  margin: 0 0 8px;
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: $color-primary;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    padding: 10px 20px;
    color: $color-primary-opacity6;
    &--first {
      display: none;
    }
  }

  @media (min-width: $tablet-desktop-between) {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
    padding: 15px 20px 10px 30px;
    max-width: 600px;
  }

  @media(min-width: $desktop-width) {
    font-size: size(16px);
    line-height: size(22px);
    letter-spacing: -0.03em;
    color: $color-primary-opacity6;
    padding: size(15px) size(20px) size(10px) size(40px);
    max-width: size(600px);
    margin-bottom: size(8px);
  }
}

.portfolio__text-wrapper {
  padding: 72px 15px 15px;

  @media (min-width: $tablet-width) {
    // padding: 80px 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    padding: 0;
    border-top: 1px solid $border-color;
    position: relative;

    &::before {
      content: "";
      display: block;
      background-color: $border-color;
      height: 50px;
      width: 1px;
      position: absolute;
      left: 50%;
      top: 0;

      @media(min-width: $desktop-width) {
        height: size(163px);
        width: size(1px);
      }
    }

  }

  @media(min-width: $desktop-width) {
    border-top: size(1px) solid #e4e4e4;
  }

}

.portfolio__label {
  display: block;
  position: relative;
  font-family: $font-secondary;
  color: $color-primary;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  margin: 70px 0 0;
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 13px;
    line-height: 16px;
  }

  @media(min-width: $desktop-width) {
    font-size: size(16px);
    line-height: size(19px);
    padding-top: size(40px);
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $border-color;
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.portfolio__button {
  width: 91%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 203px;
    margin-top: 49px;
  }

  @media (min-width: $tablet-desktop-between) {
    margin-top: 70px;
    width: 214px;
    min-height: 55px;
  }

  @media(min-width: $desktop-width) {
    margin-top: size(79px);
    width: size(234px);
    min-height: size(61px);
  }
}

.portfolio__b2c {
  margin-bottom: 39px;
}

.portfolio__developers,
.portfolio__b2c {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
