.products {
  @media (min-width: $desktop-width) {
    padding-top: 5px;
    position: relative;
  }
}

.products__wrapper {
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 1580px;
    margin: 0 auto;
    padding: 0;
    gap: 0;
  }
}

.products__swiper-pagination {
  position: absolute;
  bottom: 11px;
  z-index: 10;
  left: calc(50% - 22px);

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.products__sale {
  margin-bottom: 11px;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    margin-bottom: 10px;
  }
}

.products__bestseller {
  margin-bottom: 10px;
}

.products__recommendation {
  margin-left: auto;
}


.products__select {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: unset;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    width: 100%;
    margin-bottom: 21px;
  }
}

.products__select-list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}
