.profile__link {
  @media (max-width: $mobile-width-only) {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: $color-primary;
    padding-bottom: 8px;
    border-bottom: 1px solid $color-primary;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    color: $accent-color;
    outline: none;
  }

  &:active {
    color: $background-bullet;
  }

  &--disabled {
    color: $background-disabled;
    pointer-events: none;
  }
}
