.projects-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 10px;
  transition: all 2s ease;

  @media (min-width: $tablet-width) {
    gap: 15px;
  }

  @media (min-width: $tablet-desktop-between) {
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    gap: size(20px);
  }
}
