.promo-card {
  width: size(300px);
  min-width: 100%;

  @media (min-width: $tablet-width) {
    width: unset;
    min-width: 50%;
  }
}

.promo-card__discount {
  width: size(40px);
  height: size(40px);
  margin-top: size(3px);

  @media (min-width: $tablet-width) {
    grid-column: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    margin-top: -9px;
    margin-right: -11px;
  }
}

.promo-card__text {
  margin: 69px 0 0;
  font-weight: 600;
  font-size: 50px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: $accent-color;
  grid-column: 1 / -1;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    min-height: 80px;
    padding-bottom: unset;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 40px;
  }
}

.promo-card__quantity {
  margin: 0;
  font-size: size(12px);
  line-height: size(14px);
  font-weight: 500;
  letter-spacing: 0.01em;
  padding-top: size(2px);

  @media (min-width: $desktop-width) {
    font-size: 12px;
  }
}

.promo-card__caption {
  margin: 0;
  font-weight: 500;
  font-size: size(14px);
  line-height: size(17px);
  letter-spacing: 0.01em;

  @media (min-width: $tablet-width) {
    grid-row: 3 / 4;
    margin: 0 auto;
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
  }
}
