.rating-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 10px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 15px 10px;
  }

  @media (min-width: $tablet-desktop-between) {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: size(22px) size(20px);
  }
}

.rating-list__item:last-child {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    width: 100%;
  }

  @media (min-width: $tablet-desktop-between) {
    grid-column: unset;
  }
}
