.rating {
  display: grid;
  grid-template-columns: minmax(min-content, 48px) 1fr;
  grid-template-rows: min-content;
  padding-top: 20px;
  gap: 10px 5px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    gap: 14px 10px;
    padding-top: 0;
  }

  @media (min-width: $tablet-desktop-between) {
    gap: 0 14px;
  }

  @media (min-width: $desktop-width) {
    gap: 0 size(14px);
  }
}

.rating__counter {
  font-family: $font-primary;
  font-weight: 600;
  font-size: 32px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: $color-primary;
  align-self: start;
  grid-row: 1 / 2;

  @media (min-width: $tablet-width) {
    font-size: 38px;
    line-height: 34px;
    letter-spacing: -0.03em;
  }

  @media (min-width: $tablet-desktop-between) {
    font-size: 58px;
    line-height: 52px;
    grid-row: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    font-size: size(58px);
    line-height: size(52px);
  }
}

.rating__text {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-transform: lowercase;
  color: $color-primary;
  padding-top: 9px;
  align-self: start;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 19px;
    text-transform: lowercase;
    padding-top: 11px;
  }

  @media (min-width: $tablet-desktop-between) {
    font-size: 16px;
    line-height: 20px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: size(18px);
    line-height: size(23px);
    margin-top: size(-7px);
    margin-bottom: size(2px);
  }
}

.rating__info {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: -0.04em;
  text-transform: lowercase;
  color: $color-primary-opacity6;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    font-size: 13px;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-transform: lowercase;
    color: $color-primary-opacity6;
    max-width: 162px;
  }

  @media (min-width: $tablet-desktop-between) {
    grid-column: 2 / 3;
    font-size: size(13px);
    line-height: size(14px);
    max-width: size(162px);
  }
}
