.recommendation {
  @media (min-width: $desktop-width) {
    width: 785px;
  }
}

.recommendation__wrapper {
  position: relative;
  outline: 1px solid $background-catalog;
  border-radius: 10px;
}

.recommendation__card {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 101;
  }
}
