.rules-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.rules-list__item {
  font-weight: 600;
  font-size: size(12px);
  line-height: size(14px);
  text-transform: uppercase;
  color: $color-primary;

  &:not(:last-child) {
    border-bottom: size(1px) solid $color-primary;
  }
}

.rules-list__link {
  display: block;
  padding-top: size(9px);
  padding-bottom: size(6px);

  &:hover,
  &:focus,
  &:focus-visible {
    color: $accent-color;
    outline: none;
  }

  &:active {
    color: $background-bullet;
  }

  &--disabled {
    color: $background-disabled;
    pointer-events: none;
  }
}
