.select-button {
  font-family: $font-primary;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: $color-primary;
  display: block;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px 15px;
  border-radius: size(80px);


  @media (min-width: $tablet-width) {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    min-height: 100%;

    &--current {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $accent-color;
      border-radius: size(80px);
      color: $color-white;
      border-image: linear-gradient($color-primary, $color-primary);
      border-width: size(6px);
      border-style: solid;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 100%;
    min-height: 79px;
  }

  &:focus,
  &:focus-visible {
    outline: 1px solid $color-primary;
    outline-offset: -1px;
  }
}
