.select-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: $socials-color;
  border-radius: 10px;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  &--open {
    @media (max-width: $mobile-width-only) {
      position: absolute;
      display: block;
      top: 116px;
      left: 0;
      right: 0;
      z-index: 100;
    }
  }

  @media (min-width: $tablet-width) {
    outline: 1px solid $socials-color;
    max-width: 600px;
    background-color: transparent;
    border-radius: unset;
    flex-grow: 1;
    align-items: stretch;
  }

  @media (min-width: $desktop-width) {
    max-width: 640px;
    min-height: 80px;
  }
}

.select-list__item {
  &:not(:last-child) {
    border-bottom: 1px solid $background-disabled;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    max-width: 150px;

    &:not(:last-child) {
      border-right: 1px solid $socials-color;
      border-bottom: unset;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 159px;
    min-width: 159px;
  }
}
