.socials-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  @media(min-width: $desktop-width) {
    gap: size(5px);
  }
}

.socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 10px;
  width: 48px;
  min-height: 48px;
  background-color: $color-white;
  font-family: $font-primary;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  text-align: center;
  color: $color-primary;
  cursor: pointer;

  @media(min-width: $desktop-width) {
    border-radius: size(12px);
    padding: size(10px);
    width: size(48px);
    min-height: size(48px);
    font-size: size(13px);
    line-height: size(16px);
  }

   @media (hover: hover) {
    &:hover {
      background-color: $banner-accent-color;
      transition: background-color 0.3s ease;
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
    background-color: $banner-accent-color;
    transition: background-color 0.3s ease;
  }

  &:active {
    background-color: $banner-accent-color;
    opacity: 0.3;
    transition: opacity 0.3s ease, background-color 0.3s ease;
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.2;
  }
}
