.telegram {
  @media (min-width: $tablet-width) {
    display: inline-flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    padding-left: size(44px);
  }
}

.telegram__telegram {
  display: inline-block;
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.01em;
  position: relative;
  transition: color 0.3s ease;

  @media (hover: hover) {
    &:hover {
      color: $color-primary-opacity6;
      border-color: $color-primary-opacity6;
      transition: color 0.3s ease, border-color 0.3s ease;
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
    color: $color-primary-opacity6;
    border-color: $color-primary-opacity6;
    transition: color 0.3s ease, border-color 0.3s ease;
  }

  &:active {
    color: $color-primary-opacity3;
    border-color: $color-primary-opacity3;
    transition: color 0.3s ease, border-color 0.3s ease;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: $tablet-desktop-between) {
    width: 148px;
  }

  @media (min-width: $desktop-width) {
    font-size: size(18px);
    line-height: size(23px);
    width: size(172px);
    margin-bottom: size(10px);
  }

  &::after {
    content: "";
    display: block;
    width: calc(100% - 20px);
    height: 1px;
    background-color: $color-primary;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color 0.3s ease;

    @media (min-width: $tablet-width) {
      width: calc(100% - 9px);
    }

    @media (min-width: $desktop-width) {
      height: size(1px);
      width: calc(100% - size(22px));
    }

    // @media (hover: hover) {
    //   &:hover::after {
    //     background-color: $color-primary-opacity6;
    //     transition: background-color 0.3s ease;
    //   }
    // }

    // &:focus::after,
    // &:focus-visible::after {
    //   background-color: $color-primary-opacity6;
    //   transition: background-color 0.3s ease;
    // }

    // &:active::after {
    //   background-color: $color-primary-opacity3;
    //   transition: background-color 0.3s ease;
    // }
  }

  @media (hover: hover) {
    &:hover::after {
      background-color: $color-primary-opacity6;
      transition: background-color 0.3s ease;
    }
  }

  &:focus::after,
  &:focus-visible::after {
    background-color: $color-primary-opacity6;
    transition: background-color 0.3s ease;
  }

  &:active::after {
    background-color: $color-primary-opacity3;
    transition: background-color 0.3s ease;
  }
}

.telegram__telegram--disabled {
  opacity: 0.2;
  pointer-events: none;
}

.telegram__telegram--disabled::after {
  pointer-events: none;
  opacity: 0.2;
}

.telegram__text {
  display: none;

  @media (min-width: $tablet-width) {
    font-family: $font-primary;
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-transform: lowercase;
    color: $color-primary-opacity6;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: size(5px);
    font-size: size(13px);
    line-height: size(14px);
  }
}

.telegram__image-wrapper {
  display: inline-block;
  margin-left: 4px;
  margin-top: 1px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
