.theme-switcher {
  display: block;
  cursor: pointer;
  width: 100%;
  padding: size(9px) size(10px);
  border-radius: size(30px);
  font-weight: 600;
  font-size: size(12px);
  text-transform: uppercase;
  background-color: $socials-color;
  position: relative;
  z-index: 1;

  &:hover .theme-switcher__light,
  &:focus .theme-switcher__light &:focus-visible .theme-switcher__light {
    color: $color-primary;
  }

  &:hover .theme-switcher__light::before,
  &:focus .theme-switcher__light::before,
  &:focus-visible .theme-switcher__light::before {
    background-color: $color-primary;
  }

  &:hover .theme-switcher__night,
  &:focus .theme-switcher__night,
  &:focus-visible .theme-switcher__night {
    color: $accent-color;
  }

  &:hover .theme-switcher__night::before,
  &:focus .theme-switcher__night::before,
  &:focus-visible .theme-switcher__night::before {
    background-color: $accent-color;
  }

  @media (min-width: $tablet-width) {
    min-height: unset;
    width: size(46px);
    height: size(23px);
  }

  @media (min-width: $desktop-width) {
    width: 80px;
    height: 40px;
  }
}

.theme-switcher__light {
  display: flex;
  gap: size(13px);
  padding-right: size(15px);
  align-items: center;
  width: 50%;
  min-height: 100%;
  color: $color-white;
  justify-content: center;
  position: relative;
  z-index: 10;
  padding-left: size(24px);

  @media (min-width: $tablet-width) {
    width: size(15px);
    padding-right: 0;
    min-height: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 40px;
    height: 40px;
  }

  &::before {
    content: "";
    display: block;
    width: size(20px);
    height: size(20px);
    mask-image: url("/__spritemap#sprite-sun-view");
    mask-size: size(20px) size(20px);
    mask-repeat: no-repeat;
    background-color: $color-white;
    position: absolute;
    left: 0;
    top: calc(50% - size(10px));

    @media (min-width: $tablet-width) {
      mask-size: size(14px) size(14px);
      width: size(15px);
      height: size(15px);
      left: calc(50% - size(7px));
      top: calc(50% - size(8px));
    }

    @media (min-width: $desktop-width) {
      width: 24px;
      height: 24px;
      mask-size: 24px 24px;
      left: calc(50% - 12px);
      top: calc(50% - 12px);
    }
  }
}

.theme-switcher__night {
  display: flex;
  gap: size(13px);
  align-items: center;
  width: 50%;
  min-height: 100%;
  color: $color-primary;
  position: relative;
  z-index: 10;
  padding-left: size(45px);

  @media (min-width: $tablet-width) {
    width: size(15px);
    min-height: 100%;
    align-items: center;
    justify-content: center;
    padding-left: unset;
    padding-right: unset;
  }

  @media (min-width: $desktop-width) {
    width: 40px;
    height: 40px;
  }

  &::before {
    content: "";
    display: block;
    width: size(19px);
    height: size(20px);
    mask-image: url("/__spritemap#sprite-moon-view");
    mask-repeat: no-repeat;
    mask-size: size(20px) size(20px);
    background-color: $color-primary;
    position: absolute;
    top: calc(50% - size(10px));
    left: size(15px);

    @media (min-width: $tablet-width) {
      width: size(15px);
      height: size(15px);
      right: calc(50% - size(8px));
      top: calc(50% - size(8px));
      mask-size: size(15px) size(15px);
      left: unset;
    }

    @media (min-width: $desktop-width) {
      width: 24px;
      height: 24px;
      mask-size: 24px 24px;
      right: calc(50% - 12px);
      top: calc(50% - 12px);
    }
  }
}

.theme-switcher__slider {
  min-height: 100%;
  display: flex;
  gap: size(2px);

  @media (min-width: $tablet-width) {
    min-height: unset;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 100%;
    gap: unset;
  }

  &::after {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    background-color: $accent-color;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition: transform 0.5s ease;

    @media (min-width: $tablet-width) {
      height: size(23px);
    }

    @media (min-width: $desktop-width) {
      height: 40px;
    }
  }
}

.theme-switcher input:checked + .theme-switcher__slider .theme-switcher__night {
  color: $color-white;
}

.theme-switcher input:checked + .theme-switcher__slider .theme-switcher__night::before {
  background-color: $color-white;
}

.theme-switcher input:checked + .theme-switcher__slider::after {
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.theme-switcher input:checked + .theme-switcher__slider .theme-switcher__light {
  color: $color-primary;
}

.theme-switcher input:checked + .theme-switcher__slider .theme-switcher__light::before {
  background-color: $color-primary;
}

.theme-switcher__text {
  padding: 2px 0 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.theme-switcher__input:focus-visible ~ .theme-switcher__slider .theme-switcher__light::before {
  background-color: $color-primary;
}

.theme-switcher__input:focus-visible ~ .theme-switcher__slider .theme-switcher__light .theme-switcher__text {
  color: $color-primary;
}

.theme-switcher__input:focus-visible ~ .theme-switcher__slider .theme-switcher__night::before {
  background-color: $accent-color;
}

.theme-switcher__input:focus-visible ~ .theme-switcher__slider .theme-switcher__night .theme-switcher__text {
  color: $accent-color;
}

.theme-switcher__input:disabled ~ .theme-switcher__slider .theme-switcher__text {
  color: $background-disabled;
}

.theme-switcher__input:disabled ~ .theme-switcher__slider .theme-switcher__night::before,
.theme-switcher__input:disabled ~ .theme-switcher__slider .theme-switcher__light::before {
  background-color: $background-disabled;
}
