.video__video {
  border-radius: 15px;
  display: block;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  background-color: $color-primary;

  @media (min-width: $tablet-width) {
    border-radius: 12px;
  }

  @media (min-width: $tablet-desktop-between) {
    border-radius: 15px;
  }

  @media (min-width: $desktop-width) {
    border-radius: size(15px);
  }
}

//////

// .hero__video {
//   position: relative;
//   z-index: 5;
// }

// .video__video {
//   width: 225px;
//   height: 135px;
//   object-fit: cover;
//   transition: all 0.8s cubic-bezier(0.25, 0.1, 0.25, 1); /* Плавное изменение */
// }

// .video__video {
//   width: 225px;
//   height: 135px;
//   object-fit: cover;
//   transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1); /* Плавное изменение */
// }

// .video__video {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 225px;
//   height: 135px;
//   object-fit: cover;
//   z-index: 10;
//   pointer-events: none; /* Видео не перехватывает события мыши */
//   transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);
// }
// .hero__video {
//   max-width: 100vw;
//   position: sticky;
//   top: 0;
//   width: 100%;
//   transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
// }

// .video__video {
//   width: 100%;
//   height: auto;
//   object-fit: cover;
//   transition: transform 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
// }
