:root {
  --hero-image: url("img/content/hero/cart.svg");
  --bg-project-1: url("img/content/projects/background-1.jpg");
  --bg-project-2: url("img/content/projects/background-2.jpg");
  --bg-project-3: url("img/content/projects/background-3.jpg");
  --bg-project-4: url("img/content/projects/background-4.jpg");
  --hero-bg-color: #000000;
  --footer-bg-image: url("img/footer-bg.jpg");
}
