:root {
  --hero-image: url("img/content/hero/cart.svg");
  --bg-project-1: url("/img-bg/projects-background/background-1.jpg");
  --bg-project-2: url("/img-bg/projects-background/background-2.jpg");
  --bg-project-3: url("/img-bg/projects-background/background-3.jpg");
  --bg-project-4: url("/img-bg/projects-background/background-4.jpg");
  --hero-bg-color: #000000;
  --footer-bg-image: url("img/footer-bg.jpg");
}
