*,
*::before,
*::after {
  box-sizing: border-box;
}

$fz-default: 12px;
$max-size-1: 42px;
$max-size-2: 42px;

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;

  font-size: size-desktop($fz-default);
  line-height: size(20px);
}

body {
  font-family: $font-primary;
  color: $color-primary;
  background-color: $background-primary;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 360px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

main {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
