@import "functions";
@import "mixins";
@import "vendor/normalize";
@import "common/variables";
@import "common/custom-properties";
@import "common/global";
@import "common/fonts";
@import "blocks/button";
@import "blocks/slider-button";
@import "blocks/bullet-button";
@import "blocks/header-nav";
@import "blocks/header";
@import "blocks/body";
@import "blocks/hero";
@import "blocks/awards-list";
@import "blocks/video";
@import "blocks/rating";
@import "blocks/contacts";
@import "blocks/telegram";
@import "blocks/presentation";
@import "blocks/company-about";
@import "blocks/companies-list";
@import "blocks/developers-list";
@import "blocks/portfolio";
@import "blocks/b2c-list";
@import "blocks/companies";
@import "blocks/developers";
@import "blocks/b2c";
@import "blocks/clients-list";
@import "blocks/clients";
@import "blocks/projects";
@import "blocks/projects-box";
@import "blocks/projects-list";
@import "blocks/projects-card";
@import "blocks/banner";
@import "blocks/banners";
@import "blocks/banners-list";
@import "blocks/banner-dev";
@import "blocks/rating-card";
@import "blocks/rating-list";
@import "blocks/awards";
@import "blocks/awards-title";
@import "blocks/socials-list";
@import "blocks/footer-logo";
@import "blocks/footer-contacts";
@import "blocks/copyright";
@import "blocks/footer";

